
<form style="text-align: center;" [formGroup]="searchValue" (keyup)="filterMessages()">
  <input type="text" formControlName="search" placeholder="Search chat">
</form>
<div id="container">
    <div id="left--container">
      <!-- // left container -->
    </div>
    <div id="main--container">
      <div id="message--container">
        <div id="message--box" *ngFor="let message of messages">
            <div id="message--info">
                <p> <b>{{message.user}}</b>  {{message.created_at}}</p>
                <!-- <p>{{message.created_at}}</p> -->
            </div>
            <div id="message--text">
                <p>{{message.message}}</p>
                <button type="button" value="{{message._id}}" (click)="edit($event)">Edit</button>
                <button type="button" value="{{message._id}}" (click)="delete($event)">Delete</button>
            </div>
          <br />
        </div>
      </div>
  
      <div id="text--container">
        <form id="form--control" [formGroup]="chatMessage" (ngSubmit)="onSubmit(); this.chatMessage.reset()">
              <input type="text" formControlName="message" />
              <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div id="right--container">
      <!-- right side container -->
    </div>
</div>