<form [formGroup]="searchValue" (keyup)="filterMessages()">
    <label for="search">Search</label>
    <br>
    <input type="text" formControlName="search">
</form>

<div>
    <div id="left--container">
      <!-- // left container -->
    </div>
  
    <div>
      <div id="message--container">
        <div id="message--box" *ngFor="let message of messages">
            <div id="message--info">
                <p> <b>{{message.user}}</b>  {{message.created_at}}</p>
                <!-- <p>{{message.created_at}}</p> -->
            </div>
            <div id="message--text">
                <p>{{message.message}}</p>
            </div>
          <br />
        </div>
      </div>
  
      <div id="text--container">
        <form id="form--control" [formGroup]="chatMessage" (ngSubmit)="onSubmit()">
              <input type="text" formControlName="message" />
              <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div id="right--container">
      <!-- right side container -->
      
    </div>
</div>