<h4 style="text-align: center;">Please enter your username and password to log in</h4>
<div id="loginContent">
    <form [formGroup]="user" (ngSubmit)="onSubmit()">
        <label for="username">Username</label>
        <br>
        <input id="username" type="text" formControlName="username" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input id="password" type="password" formControlName="password" required>
        <br>
        <button class="btn" type="submit" [disabled]="user.invalid">Submit</button>
        <p>Need an account? <a href="/sign-up">Click here!</a></p> 
    </form>
</div>
