<div *ngIf="!isLoggedIn">
  <button type="button" routerLink="sign-up">Sign Up</button>
  <button type="button" routerLink="login">Login</button>
</div>

<div *ngIf="isLoggedIn">
  <div class="profile--logout" *ngFor="let profile of profiles">
    <button class="profile--button" type="button" routerLink="user/{{profile._id}}">Profile</button>
  </div>  
  <button type="button" routerLink="room-list">Rooms</button>
  <div class="profile--logout">
      <button class="logout--button" type="button" routerLink="login" (click)="logout()">Log Out</button>
  </div>
</div>

<router-outlet></router-outlet>