<div style="text-align: center" *ngFor="let userProfile of userProfiles">
    <p>Name: {{userProfile.name}}</p>
    <p>Username: {{userProfile.username}}</p>
    <p>Email: {{userProfile.email}}</p>
</div>

<div style="text-align: center" *ngFor="let userDescription of _description">
    <p>Description: {{userDescription.description}}</p>
</div>
<div>
    <form id="descForm" [formGroup]="userDesc" (ngSubmit)="onSubmit(); this.userDesc.reset()">
        <textarea type="text" rows="3" cols="50" formControlName="description" placeholder="Change your description!"> </textarea>
        <button type="submit">Submit</button>
    </form>
</div>